<div id="cookie-banner">
    <strong>Information on the Use of GitHub Pages</strong><br>
    This website is hosted via GitHub Pages and uses a global content delivery network (CDN). When using the site, some non-personal data (e.g., your IP address and basic usage data) may be transmitted via this network. This is required for the site to properly function. More information is available in the
    <a href="/imprint#github-pages-und-cdn-nutzung"
       target="_blank" rel="noopener noreferrer nofollow">
        imprint</a>.<br><br>

    <strong>Essential Cookie</strong><br>
    We use one essential cookie to store your preference regarding data handling on this website. This cookie is necessary for the cookie banner to function and is stored for 24 hours. It contains no personal data.<br><br>

    Please confirm that you have read and understood this information. This confirmation only refers to the essential cookie and GitHub Pages and does not constitute consent to any additional cookies or personal data processing.<br>
    No other cookies are used on this website.<br><br>

    <button class="btn btn--warning" id="cookie-consent-btn">Acknowledge</button>
</div>







<!-- JavaScript-code for the cookie consent-banner -->
<script>
    if (document.cookie.indexOf('cookieConsent=1') !== -1) {
        document.getElementById('cookie-banner').style.display = 'none';
    }

  function setCookieConsent() {
      document.getElementById('cookie-banner').style.display = 'none';

      var expiresDate = new Date();
      expiresDate.setDate(expiresDate.getDate() + 1);

      document.cookie = 'cookieConsent=1; expires=' + expiresDate.toUTCString() + '; path=/';
  }

    document.getElementById('cookie-consent-btn').addEventListener('click', setCookieConsent);
</script>